<div class="flex sm:flex-row flex-col gap-3 mt-10">
    <a href="/facebook" class="flex items-center justify-center gap-2 p-4 bg-[--primary-color] rounded-lg text-white">
        <img src="../src/facebook-logo.png" class="w-8" alt="FB Logo">
        <p>Facebook Downloader</p>
    </a>
    <a href="/instagram" class="flex items-center justify-center gap-2 p-4 bg-[--primary-color] rounded-lg text-white">
        <img src="../src/instagram-logo.png" class="w-8" alt="FB Logo">
        <p>Instagram Downloader</p>
    </a>
    <a href="/youtube" class="flex items-center justify-center gap-2 p-4 bg-[--primary-color] rounded-lg text-white">
        <img src="../src/youtube-logo.png" class="w-8" alt="FB Logo">
        <p>YouTube Downloader</p>
    </a>
    <a href="/tiktok" class="flex items-center justify-center gap-2 p-4 bg-[--primary-color] rounded-lg text-white">
        <img src="../src/tiktok-logo.png" class="w-8" alt="FB Logo">
        <p>TikTok Downloader</p>
    </a>
    <!-- <div>
        <img src="../src/facebook-logo.png" alt="FB Logo">
        <p>Facebook Downloader</p>
    </div> -->
</div>